{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/css/editormd.min.css"/>
    <link rel="stylesheet" href="{{ cdn_domain }}/highlight.js/10.1.1/styles/default.min.css">
    <link rel="stylesheet" href="{{ cdn_domain }}/highlight.js/10.1.1/styles/dark.min.css">

{% endblock %}

{% block content %}
    <div class="row">
        <div class="custom-article-body col-md-12"></div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ cdn_domain }}/highlight.js/10.1.1/highlight.min.js"></script>
    <script src="{{ cdn_domain }}/markdown-it/11.0.0/markdown-it.min.js"></script>
    <script src="/js/article_page.js?v=20200720"></script>
{% endblock %}