<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="FesonX">
    <title>{{ title }}</title>


    <!-- Bootstrap core CSS -->
    <link href="{{ cdn_domain }}/twitter-bootstrap/4.5.0/css/bootstrap.css" rel="stylesheet">
    <link href="{{ cdn_domain }}/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">
    {% block css %}
    {% endblock %}

    <!-- Favicons -->
    <meta name="theme-color" content="#563d7c">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/blog.css?v=2020071914" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">Subscribe</a>
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{{url_for('index')}}">{{ title or "FesonX's Blog"}}</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
                         stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
                         viewBox="0 0 24 24" focusable="false"><title>Search</title>
                        <circle cx="10.5" cy="10.5" r="7.5"/>
                        <path d="M21 21l-5.2-5.2"/>
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>

    <!-- Columns -->
    <!-- TODO: Get column names from database-->
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            <a class="p-2 text-muted column-li" href="#">Code&nbsp;代码</a>
            <a class="p-2 text-muted column-li" href="#">Photograph&nbsp;摄影</a>
            <a class="p-2 text-muted column-li" href="#">Others&nbsp;其他</a>
            <a class="p-2 text-muted column-li" href="#">About&nbsp;关于</a>
        </nav>
    </div>

    {% block content %}
    {% endblock %}
</div>

<main role="main" class="container">
    <div class="row">
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4">
                <h4>Archives&nbsp;归档</h4>
                <ol class="list-unstyled mb-0">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">More</a></li>
                </ol>
            </div>
        </aside>
        <aside class="col-md-4 blog-sidebar">
            <!--            <div class="p-4 mb-3 bg-light rounded">-->
            <div class="p-4">
                <h4>About&nbsp;关于</h4>
                <p class="mb-0">2049, 相信未来.</p>
                <p class="mb-0">Stay hungry, stay foolish.</p>
            </div>
        </aside>
        <aside class="col-md-4 blog-sidebar">
            <div class="p-4">
                <h4>More&nbsp;更多平台</h4>
                <ol class="list-unstyled">
                    <li><a href="https://www.jianshu.com/u/cfb30b95d7ea">简书</a></li>
                    <li><a href="https://github.com/FesonX">Github</a></li>
                    <li><a href="https://www.instagram.com/fesoncn">Instagram</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
    <p>Theme by <a href="https://twitter.com/mdo">@mdo</a>. Rebuild by <a href="github.com/FesonX">@FesonX</a>
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
<script src="{{ cdn_domain }}/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ cdn_domain }}/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{{ cdn_domain }}/toastr.js/2.1.4/toastr.min.js"></script>
{% block js %}
{% endblock %}
</html>
